*.cs linguist-language=C#
*.meta linguist-detectable=false
*.shader linguist-detectable=true
*.shader linguist-language=ShaderLab
*.unity linguist-detectable=false
*.prefab linguist-detectable=false
*.asset linguist-detectable=false
*.mat linguist-detectable=false
*.anim linguist-detectable=false
*.nb linguist-detectable=false
*.m linguist-detectable=false
*.wl linguist-detectable=false