# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.bak
*.swp
*.swo

# Unity specific
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/Plugins/Editor/JetBrains*

# IDE specific
.vs/
.idea/
.gradle/

# Unity specific project files
ExportedObj/
.consulo/

# Ignore Unity project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
crashlytics-build.properties

*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
